
*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}



html {
   
  -webkit-text-size-adjust: 100%;
  
}


body {
  height: 100%;
  line-height: 1;
  text-rendering: optimizeSpeed;
  background: rgb(243, 243, 243);
 
  
}


main, header{
    margin: 0 auto;
    max-width: 1380px;
    
   
}

.save-btn-profile:disabled,.save-btn-links:disabled{
    pointer-events: none;
    background: #947afc;
}
button{
    cursor: pointer;
}

/*styles applies to multiple elements*/

.btn{
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.35em;
    padding: 0.5rem 0.8rem;
    background:transparent;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.25s ease;
    font-weight: 600;
    color: rgb(71, 71, 71);
    text-decoration: none;
}
.btn:hover{
    color: rgb(68, 0, 255);
     background:rgb(236, 236, 236);
}


/*end*/
.links-svg{
    width: 100px;
    height: 50px;
    background: red;
    fill: red;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 0.8rem;
    margin-top: 1.25rem;
    border-radius: 0.5rem;
}
.btn-links-container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

/*main container*/

.content-container{
    margin-top: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: calc(100vh - 8rem);
    gap: 1.25rem;
    
   
   
    
}

.phone-container{
   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    
}
.phone-outline{
    width: 100%;
   
    position: relative;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  background: white;
}
.links-form-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 1.5rem 1.5rem; 
    gap: 1.25rem;
    
    
}

.link-wrapper-container{
    display: flex;
  
    flex-direction: column;
    
    gap: 1.25rem;
}
.phone-container, .links-form-container{
    background: white;
    border-radius: 0.5rem;
  
    
    
}

.phone{
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%);
    
    
}
/*end*/


/*form container styling*/

.add-links{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.add-link-btn{
   
    width: 100%;
    margin-top: 1rem;
    border: 1px solid rgb(81, 0, 255);
}
.form-header{
    font-size: 2rem;

}

.get-started{
    display: grid;
    place-items: center;
    text-align: center;
    background: rgb(243, 243, 243);
    height: 100%;
    border-radius: 0.25rem;
}

.get-started-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
    line-height: 1.5;
    width: 30rem;
}

.get-started-header{
    font-size: 2rem;
}
.bottom{
   
    display: flex;
    margin-top: auto;
    flex-direction: column;
    gap: 1.5rem;
    text-align: end;
    align-items: end;

   
}
.line{
    height: 1px;
    width: 100%;
    color: rgb(214, 214, 214);
    background: rgb(214, 214, 214);
}

.save-btn{
    margin: 0 2rem;
    background: rgb(136, 0, 255);
    color:white;
}
/*end*/


/*profile details component styling*/

.profile-details-component{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    
    height: 100%;
}
.profile-details-nav{
    display: flex;
    align-items: center;
}
.upload-top{
    display: grid;
    color: rgb(99, 98, 98);
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    border-radius: 0.5rem;
    background: rgb(243, 243, 243);
    padding: 1.5rem 1.5rem;
}
.upload-top > div{
    padding: 4rem 0;
}
.upload{
    display: flex;
   
    font-size: 1.15rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    color: rgb(81, 0, 255);
    background: rgb(233, 229, 255);
    border-radius: 0.5rem;
    height: 100%;
}
.upload:hover{
    background: rgb(233, 229, 255,0.7);
    cursor: pointer;
}
.upload:active{
    border: 2px dotted rgb(81, 0, 255);
}
.upload-component{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    height: 100%;
    
    
}

.upload-bottom{
    color: grey;
    background: rgb(243, 243, 243);
    padding: 1.5rem;
    border-radius: 0.5rem;
}
input[type="file"]{
    display: none;
}

.file-img-icon{
    width:100%;
    max-width: 2.5rem;
}
.profile-form{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.profile-form > .input{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem
    
}

.input-field{
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(209, 209, 209) ;
    border-radius: 0.5rem;
    
}


/*end*/

/*links-form styling */
.link-title-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.link-remove-btn{
    padding: 0.5rem 0.25rem;
}
.link-remove-btn:hover{
    color: red;
}
.input-content  {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.link-title-content{
    display: flex;
    align-items: center;
    gap: 0.35rem;
}
.link-form-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
   background: rgb(241, 241, 241);
}
.link-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(62, 62, 62);
}

.link-title-btn{
    padding: 0.25rem 0.35rem;
    border-radius: 0.2rem;
}
.link-title-btn:hover{
    background-color: rgb(231, 231, 231);
}
    /*pointer styling when grabbing*/
    .grabbable{
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    .grabbable:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }

.link-field{
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    outline: none !important;
}
.link-field:not(:placeholder-shown):invalid{
    border: 1px solid red;
}

.error-link-message{
    font-size: 0.75rem;
    color: rgb(255, 52, 52);
    letter-spacing: 0.5px;
}
.link-field:focus,select:open{
    outline: none !important;
    border: 1px solid rgb(81, 0, 255);
    box-shadow: 0px 0px 25px 2px rgba(38, 0, 255, 0.217);
   
}

.link-input-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
/*end*/







/*drop down custom styling*/

select,::picker(select){
    appearance: base-select;
}

select{
    
  border: 1px solid #ddd;
  background: #ffffff;
  padding: 0.8rem;
  transition: 0.4s;
}

select::picker-icon {
  color: #3300ff;
  border: none;
  transition: 0.4s rotate;
  
}

select:open::picker-icon {
  rotate: 180deg;
}

::picker(select) {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  border:1px solid rgba(202, 202, 202, 0.617) ;
  border-radius: 0.5rem;
  margin-top: 0.25rem;
  transition: 0.25s;
  
}
@starting-style{
   ::picker(select){
    opacity: 0;
    visibility:hidden;
    transform: scale(0.9);
   } 
}

option{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    padding: 0.8rem 0.5rem; 
    transition: 0.4s;
}


option:hover,
option:focus {
  color: rgb(43, 0, 255);
}

option .option-label{
    font-size: 1rem;
    color: rgb(42, 42, 42);
}

selectedcontent .select-icon {
  font-size: 0.9rem;
}
option::checkmark {
 display: none;
}



/*end*/



/*preview styling*/
.preview-body{
    
    width: 100%;
    height: 100%;
     
    
}
.preview-body::after{
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 20.5rem;
    
    background-color: rgb(89, 0, 255);
    border-radius: 0 0 2rem 2.5rem
}


.preview-nav-container{
   
    margin: 1.25rem 1.25rem;
    
}
.preview-nav-content{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
}
.to-editor-btn{
    border: 1px solid rgb(89, 0, 255)
}

.share-link-btn{
    background:rgb(89, 0, 255);
    color: white;
}

.share-link-container.preview{
    width: 100%;
    max-width: 20rem;
    position: absolute;
    top:65%;
    left: 50%;
    transform: translate(-50%,-65%);
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    text-align: center;
}
.uploaded-img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    
}
.upload{
    position: relative;
}
.close-icon{
    display: none;
   position: absolute;
   top: 0;
   left: 0;
   padding: 0.25rem 0.5rem;
   border-radius: 0.35rem;
   background-color: rgb(177, 136, 252);
   color: white;
  
}
.close-icon:hover{
   background-color: rgb(255, 65, 65);
}
.share-link-content.preview{
    padding: 2rem;
}
.share-link-content.display{
    position: relative;
    top: 25%;
    left: 50%;
    max-width: 308px;
    z-index: 999;
    transform: translate(-50%);
    padding: 2rem 2rem;
    
    
}
.link-component.preview{
    cursor: pointer;
    color: white;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background: rgb(0, 0, 0);
    transition: 0.35s;
}

.link-component:hover{
    opacity: 0.85;

}
.link-component.display{
    text-decoration: none;
    border-radius: 0.5rem;
    height: 100%;
    align-items: center;
    padding: 0rem 1rem;
    justify-content: space-between;
    
}
.link-component.preview,.link-component.display,.link-info {
    display: flex;
   
    
}
.profile-details.display{
    width: 100%;
    height: 100%;
}
.profile-details.preview,.profile-details.display{
    display: flex;
   
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.added-name.preview,.added-name.display{
    font-size: 1rem;
    font-weight: 600;
    
    
     
}
.profile-name{
    display: inline-flex;
    gap: 0.25rem;
}
.profile-name.preview,.profile-name.display{
    background: rgb(234, 234, 234);
    
    padding: 8px;
    
    max-width: auto;
    border-radius: 2rem;
    text-align: center;
    font-size: 1rem;
}
.profile-email.preview,.profile-email.display{
    background: rgb(234, 234, 234);
    padding: 5px;
    max-width: auto;
    border-radius: 2rem;
    text-align: center;
   
}
.profile-img.preview,.profile-img.display{
    width: 5rem;
    height: 5rem;
    
    border-radius: 50%;
}
.link-placeholder.preview,.link-placeholder.display{
    width: 100%;
    height: 2.5rem;
    background: rgb(234, 234, 234);
    border-radius: 0.5rem;
    
}
.link-info.preview,.link-info.display{
    gap: 0.8rem;
}
.links-content.preview,.links-content.display{
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    gap: 1rem;
}


/*end of preview styling*/


/* profile form validation*/

.input-field:invalid:not(:placeholder-shown){
    border-color: red;
}


